
    <a href="#" class="scrolltop">
        <span>up</span>
    </a>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">
                <img src="img/logo.png" alt="logo" />
            </a>
        <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="features.html">Features</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            External Pages
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="features.html">Features</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                            <li><a href="aboutus.html">About us</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="btn-header" href="signup.html">Sign up</a>
                    </li>
                    <li><a class="btn-header" href="signin.html">Sign in</a></li>
                </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="blog_wrapper">
        <div class="container">
            <div class="row">

                <div class="span8">

                    <h1 class="header">
                        Blog
                        <hr />
                    </h1>

                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                <a href="blog-post.html">
                                    <img class="main_pic" alt="main pic" src="img/pic_blog.png" />
                                </a>
                            </div>
                            <div class="span4 info">
                                <a href="blog-post.html">
                                    <h3>Measure theme blog post</h3>
                                </a>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="post_info">
                                    <div class="author">
                                        Alejandra Galvan
                                    </div>
                                    <div class="date">
                                        Oct 12, 2012
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="blog-post.html" class="btn">more</a>
                    </div>

                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                <a href="blog-post.html">
                                    <img class="main_pic" alt="main pic" src="img/pic_blog.png" />
                                </a>
                            </div>
                            <div class="span4 info">
                                 <a href="blog-post.html">
                                    <h3>Measure theme blog post</h3>
                                </a>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="post_info">
                                    <div class="author">
                                        Alejandra Galvan
                                    </div>
                                    <div class="date">
                                        Oct 12, 2012
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="blog-post.html" class="btn">more</a>
                    </div>

                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                <a href="blog-post.html">
                                    <img class="main_pic" alt="main pic" src="img/pic_blog.png" />
                                </a>
                            </div>
                            <div class="span4 info">
                                <a href="blog-post.html">
                                    <h3>Measure theme blog post</h3>
                                </a>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="post_info">
                                    <div class="author">
                                        Alejandra Galvan
                                    </div>
                                    <div class="date">
                                        Oct 12, 2012
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="blog-post.html" class="btn">more</a>
                    </div>

                    <div class="post">
                        <div class="row">
                            <div class="span3">
                                <a href="blog-post.html">
                                    <img class="main_pic" alt="main pic" src="img/pic_blog.png" />
                                </a>
                            </div>
                            <div class="span4 info">
                                <a href="blog-post.html">
                                    <h3>Measure theme blog post</h3>
                                </a>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="post_info">
                                    <div class="author">
                                        Alejandra Galvan
                                    </div>
                                    <div class="date">
                                        Oct 12, 2012
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="blog-post.html" class="btn">more</a>
                    </div>

                    <div class="pagination">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>

                </div>

                <%= render "shared/sidebar" %>

            </div>
        </div>
    </div>

    <%= render "shared/footer" %>
