<div class="col-md-4">
    <!-- Contact Us -->
    <div class="headline"><h2>Contact Us</h2></div> 
    <address class="md-margin-bottom-40">
        Plot #31(A), 2nd floor, chamber 9, GLOBAL TRADE CENTER, khamla road<br />
        Nagpur - 440015 , India <br />
        Phone: 800 123 3456 <br />
        Fax: 800 123 3456 <br />
        Email: <a href="mailto:info@digitsexperts.com" class="">info@digitsexperts.com</a>
    </address>
    <!-- End Contact Us -->

    <!-- Social Links -->
    <div class="headline"><h2>Stay Connected</h2></div> 
    <ul class="social-icons">
        <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
        <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
        <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
        <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
    </ul>
    <!-- End Social Links -->
</div><!--/col-md-4-->