<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">                     
                <p>
                    2014 &copy; Digits Experts. ALL Rights Reserved. 
                    <a href="/home/privacy">Privacy Policy</a> | <a href="/home/tos">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">  
                <a href="index.html">
                    <img class="pull-right" id="logo-footer" src="/assets/img/company_logo_DOWN.png" style="width: 126px;" alt="">
                </a>
            </div>
        </div>
    </div> 
</div>