<!-- features -->
    <div id="features">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop" />
                <span>Features</span>
                <hr class="right visible-desktop" />
            </h2>

            <!-- feature list -->
            <div class="row">
                <div class="span4 feature">
                    <img src="/img/feature1.jpg" alt="feature1" class="thumb" />
                    <h3>
                        <i class="i_cloud"></i> Responsive clean theme
                    </h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available, but the 
                        majority have suffered alteration in some form, by injected humour, or randomised 
                        words which don't look even slightly believable.
                    </p>
                    <a href="/#" class="btn btn-default">more</a>
                </div>
                <div class="span4 feature">
                    <img src="/img/feature2.jpg" alt="feature2" class="thumb" />
                    <h3>
                        <i class="i_chart"></i> Responsive clean theme
                    </h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available, but the 
                        majority have suffered alteration in some form, by injected humour, or randomised 
                        words which don't look even slightly believable.
                    </p>
                    <a href="/#" class="btn btn-default">more</a>
                </div>
                <div class="span4 feature">
                    <img src="/img/feature3.jpg" alt="feature3" class="thumb" />
                    <h3>
                        <i class="i_movil"></i> Responsive clean theme
                    </h3>
                    <p class="description">
                        There are many variations of passages of Lorem Ipsum available, but the 
                        majority have suffered alteration in some form, by injected humour, or randomised 
                        words which don't look even slightly believable.
                    </p>
                    <a href="/#" class="btn btn-default">more</a>
                </div>
            </div>
        </div>
    </div>