<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-40">
                    <!-- About -->
                    <div class="headline"><h2>About</h2></div>  
                    <p class="margin-bottom-25 md-margin-bottom-40">Your needs are our priority and, whatever your concerns, you can be certain they will be addressed.We work with you through the entire engagement life cycle, from negotiation to customized solution design to delivery, maintaining open lines of communications at all times.</p>    
                    <!-- End About -->

                    <!-- Monthly Newsletter -->
                    <div class="headline"><h2>Monthly Newsletter</h2></div> 
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form class="footer-subsribe">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Address" id="news_email" name="email">                            
                            <span class="input-group-btn">
                                <button class="btn-u" type="button" id="subscribe">Subscribe</button>
                            </span>
                        </div>                  
                    </form>                         
                    <!-- End Monthly Newsletter -->
                </div><!--/col-md-4-->  
                
                <div class="col-md-4 md-margin-bottom-40">
                    <!-- Recent Blogs -->
                    <%= render "shared/blogs" %>
                    <!-- End Recent Blogs -->                    
                </div><!--/col-md-4-->

                <%= render "shared/address" %>
            </div>
        </div> 
    </div>