<!-- begins navbar -->
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</a>
          	<a class="brand scroller" data-section="body" href="/index.html">
                <img src="/img/logo.png" alt="logo" />
            </a>
		  	<div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="/#" class="scroller" data-section="#features">Home</a></li>
                    <li><a href="/#" class="scroller" data-section="#pricing">About Us</a></li>
                    <li><a href="/#" class="scroller" data-section="#footer">Projects</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/contact.html">Contact us</a></li>
                    <li class="dropdown">
                        <a href="/#" class="dropdown-toggle" data-toggle="dropdown">
                            External Pages
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/features.html">Features</a></li>
                            <li><a href="/pricing.html">Pricing</a></li>
                            <li><a href="/portfolio.html">Portfolio</a></li>
                            <li><a href="/coming-soon.html">Coming Soon</a></li>
                            <li><a href="/aboutus.html">About us</a></li>
                            <li><a href="/contact.html">Contact us</a></li>
                            <li><a href="/faq.html">Careers</a></li>
                        </ul>
                    </li>
                </ul>
	        </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->