 <!-- starts pricing -->
    <div id="pricing">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop" />
                <span>
                    About Us
                    <small>
                        We love to build great applications</small>
                </span>
                <hr class="right visible-desktop" />
            </h2>

            <!-- pricing charts -->
            <div class="row">
               <p> Digits Experts.com is a web designing, development, web services and a mobile application development company based at Nagpur, formed through the love of developing web and mobile applications . We are a small group of designers, developers and consultants based at Nagpur. Our goal is simple,  to provide excellent solutions to your problems that makes your business shine and make our egos soar. We are small enough to take real pride in each and every job we do, yet agile enough to take on projects of all sizes and deliver it.</p>
               <p>"Our obsession to build beautiful and meaningful work drives us forward every single day." We make what we love. We love what we do.</p>
               <p>True certainty of success comes from working with a partner you trust to provide the insight, support and expertise that will propel your business forward. Experiencing certainty with Digits Experts means you can count on results, partnership and leadership.</p>
               <p>When you work with us, your long-term success is our motivation. This is why we can offer you the ability to meet every challenge and the agility to capitalize on every opportunity. That’s the power of certainty. And it is our promise to every client.</p>
               <p>Your needs are our priority and, whatever your concerns, you can be certain they will be addressed. We work with you through the entire engagement life cycle, from negotiation to customized solution design to delivery, maintaining open lines of communications at all times.</p>
               <p>We take a long-term view and ensure that any solution we put in place today will efficiently meet your needs while providing the extensibility to carry your business into the future. We draw from our years of experience developing business and IT strategies and solutions to help you implement the agile, integrated systems and processes that will help your business run leaner and smarter as it continues to grow.</p>
            </div>
        </div>
    </div>