<div class="span3 sidebar offset1">

                    <input type="text" class="input-large search-query" placeholder="Search" />

                    <h4 class="sidebar_header">
                        Menu
                    </h4>

                    <ul class="sidebar_menu">
                        <li><a href="#">Suspendisse Semper Ipsum</a></li>
                        <li><a href="#">Maecenas Euismod Elit</a></li>
                        <li><a href="#">Suspendisse Semper Ipsum</a></li>
                        <li><a href="#">Maecenas Euismod Elit</a></li>
                        <li><a href="#">Suspendisse Semper Ipsum</a></li>
                    </ul>

                    <h4 class="sidebar_header">
                        Recent posts
                    </h4>

                    <ul class="recent_posts">
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="blog-post.html">
                                        <img class="thumb" alt="thumb post" src="img/pic_blog.png" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="blog-post.html">Suspendisse Semper Ipsum</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="blog-post.html">
                                        <img class="thumb" alt="thumb post" src="img/pic_blog.png" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="blog-post.html">Maecenas Euismod Elit</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="span1">
                                    <a href="blog-post.html">
                                        <img class="thumb" alt="thumb post" src="img/pic_blog.png" />
                                    </a>
                                </div>
                                <div class="span2">
                                    <a class="link" href="blog-post.html">Suspendisse Semper Ipsum</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>