<div class="headline"><h2>Recent Works</h2></div>
<div class="row margin-bottom-20">
    <% recent_works.each do |work| %>
      <div class="col-md-3 col-sm-6">
          
      </div>
    <% end %>
</div>
