<div class="post">
    <div class="row">
        <div class="span4 info" style="width: 100%;">
            <h3><%= job.title %> </h3>
            <p><%= job.description.html_safe %></p>
        </div>
    </div>
</div>